body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  line-height: 1.5;
  padding: 10px 20px;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

.highlight {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}